<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mail Template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        .content {
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Hello,</h2>
            <p>You're receiving this email because you requested a password reset for your user account at Cloaked Moments</p>

            <p>Please go to the following page and choose a new password:</p>
            <a href="{{ protocol }}://{{ domain }}{% url 'secret_photo:reset_password_view' uidb64=uid token=token %}">Reset My Password</a>

            <p>Thanks!</p>
        </div>
    </div>
</body>
</html>

