{% extends 'base.html' %}
{% block content %}

<form method="POST" id="forgot-password-form">
        <div class="container-center">
        <div class="container-cloud">
          <div class="sky">
            <div class="sun"></div>
            <div id="cloud-1" class="cloud-container">
              <div class="cloud cloud-left"></div>
              <div class="cloud cloud-right"></div>
            </div>
            <div id="cloud-2" class="cloud-container">
              <div class="cloud cloud-left"></div>
              <div class="cloud cloud-right"></div>
            </div>
          </div> 
        </div>
        </div>
        <div class="signup-container">
          <div class="signup">Reset Password</div>
          <div><p>You will receive instructions for reseting your password.</p></div>
        </div>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
        <button type="button" class="button" id="btn_reset_password">
          <span class="button__text">Send e-mail</span>
        </button>
      </div>
</form>
<div class="loader">

</div>

<!-- animation button Confirm to photo preview-->
<script>
    function animationButtonResetPassword(isActive){
        const button = document.getElementById('btn_reset_password');
        button.classList.toggle('active', isActive);
        button.textContent = isActive ? 'Already send ✔' : 'Send e-mail';
    }
</script>
  <!-- animation button Confirm to photo preview-->

<script>
    $(document).ready(function() {
        $('.loader').hide();
        $.ajaxSetup({
          headers: { "X-CSRFToken": "{{ csrf_token }}" }
        });

        $("#btn_reset_password" ).click(function(event) {
            resetPassword();
        });

        function resetPassword(){
            var formData = new FormData($("#forgot-password-form")[0]);
            $('.loader').show();
            $.ajax({
            url: '{% url "secret_photo:reset_password" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                animationButtonResetPassword(true)
                $('.loader').hide();
            },
            error: function(xhr, status, error) {
                var json = JSON.parse(xhr.responseText);
                animationButtonResetPassword(false)
                $('.loader').hide();
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Data',
                    text: 'Please complete the information.',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Close'
                })
                }
            }); 
        }

        
    });
</script>
{% endblock %}