{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
<body>
    <h1>Gallery</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><img src="{{ item.picture.url }}" alt="Picture"></td>
                <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


{% endblock %}