{% extends 'base.html' %}
{% block content %}
<!-- gallery_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Gallery List</title>
</head>
<body>
    <h1>Gallery List</h1>
    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }

        .gallery-item {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .gallery-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <a href="{% url 'secret_photo:upload' %}" class="btn btn-primary">Add Pictures</a>
    <div class="gallery">
        {% for item in data %}
            <div class="gallery-item">
                <a href="{% url 'secret_photo:picture_detail' item.pk %}">
                    <img src="{{ item.picture }}" alt="Picture">
                </a>
                <p>{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>


{% endblock %}