
{% extends 'base.html' %}
{% block content %}
    <div class="home-image-container" id="home-image-container">
        <img src="static/assets/img/rectangle-1.png" alt="">
    </div> 
    <div class="carousel-container">
          <img src="static/assets/img/homepage/picture_diary.png" alt="{{ image.title }}">
          <img src="static/assets/img/homepage/security_simplified.png" alt="{{ image.title }}">
          <img src="static/assets/img/homepage/un_picture.png" alt="{{ image.title }}">
          <img src="static/assets/img/homepage/Pass_setting.png" alt="{{ image.title }}">
      </div>
      <div class="home-image-container" id="home-image-container">
        <img class="unlock_password-img" src="static/assets/img/homepage/unlock_password.png" alt="">
    </div> 
    <div class="headline-container">
        <div class="headline">Why Cloaked Moments?</div>
    </div>
    <div class="home-image-container" id="home-image-container">
        <img src="static/assets/img/homepage/why_CM.png" alt="">
    </div>
    <div class="camera-center" >
        <div class="flat-anim animation">
            <span class="eyecamera"></span>
            <span class="bottomcamera"></span>
        </div>
    </div>
    <div class="center-wrapper"> 
        <div class="wrapper">
          <div class="border-circle" id="one"></div>
          <div class="border-circle" id="two"></div>
          <div class="background-circle">
            <div class="triangle-light"></div>
            <div class="body"></div>
            <span class="shirt-text">C</span>
            <span class="shirt-text">l</span>
            <span class="shirt-text">o</span>
            <span class="shirt-text">a</span>
            <span class="shirt-text">k</span>
            <span class="shirt-text">e</span>
            <span class="shirt-text">d</span>
            <span class="shirt-text">M</span>
            <span class="shirt-text">o</span>
            <span class="shirt-text">m</span>
            <span class="shirt-text">e</span>
            <span class="shirt-text">n</span>
            <span class="shirt-text">t</span>
            <span class="shirt-text">s</span>
            <div class="triangle-dark"></div>
          </div>
          <div class="head">
            <div class="ear" id="left"></div>
            <div class="ear" id="right"></div>
            <div class="hair-main">
              <div class="sideburn" id="left"></div>
              <div class="sideburn" id="right"></div>
              <div class="hair-top"></div>
            </div>
            <div class="face">
              <div class="hair-bottom"></div>
              <div class="nose"></div>
              <div class="eye-shadow" id="left">
                <div class="eyebrow"></div>
                <div class="eye"></div>
              </div>
              <div class="eye-shadow" id="right">
                <div class="eyebrow"></div>
                <div class="eye"></div>
              </div>
              <div class="mouth"></div>
              <div class="shadow-wrapper">
                <div class="shadow"></div>
              </div>
            </div>
          </div>
          <span class="music-note" id="one">&#9835;</span>
          <span class="music-note" id="two">&#9834;</span>
        </div>
        </div>
        
    <div>
        <hr class="line">
    </div>

    <div class="container img-center">
        <div class="row">
          <div class="col">
            <img class="myimg" src="static/assets/img/homepage/best.png" alt="">
            <h1 class="myname">Jarupum Chaleesombut</h1>
            <p class="myid">2220731303002</p>
          </div>
          <div class="col">
            <img class="myimg" src="static/assets/img/homepage/tonhom.png" alt="">
            <h1 class="myname">Pattarawan Chakrapandhu</h1>
            <p class="myid">2220731303004</p>
          </div>
          <div class="col">
            <img class="myimg" src="static/assets/img/homepage/kim.png" alt="">
            <h1 class="myname">Patarasak Phaobkaew</h1>
            <p class="myid">2220731303003</p>
          </div>
        </div>
      </div>
    <script>
        const images = document.querySelectorAll(".carousel-container img");
        let currentIndex = 0;
        let timer;

        function showImage(index) {
        images.forEach((img, i) => {
            if (i === index) {
            img.classList.add("active");
            } else {
            img.classList.remove("active");
            }
        });
        }

        function nextImage() {
        currentIndex = (currentIndex + 1) % images.length;
        showImage(currentIndex);
        }

        function prevImage() {
        currentIndex = (currentIndex - 1 + images.length) % images.length;
        showImage(currentIndex);
        }

        function startTimer() {
        timer = setInterval(nextImage, 10000); // Change image every 10 seconds
        }

        function stopTimer() {
        clearInterval(timer);
        }

        const carouselContainer = document.querySelector(".carousel-container");

        carouselContainer.addEventListener("mouseenter", stopTimer);
        carouselContainer.addEventListener("mouseleave", startTimer);

        showImage(currentIndex); // Show the first image initially
        startTimer(); // Start the automatic image change on page load

    </script>
{% endblock %}
