{% extends 'base.html' %}
{% block content %}

<form method="POST" id="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <label id="number_of_click"></label>
    <br>
    <button type="button" class="btn btn-primary btn-lg" style="margin-right: 30px; margin-top: 30px; border-radius: 59px; color: rgb(68, 42, 42); --bs-btn-bg: #eec0a670; --bs-btn-border-color: antiquewhite;--bs-btn-hover-bg: rgb(145, 116, 109);--bs-btn-hover-border-color: rgb(155, 123, 123);--bs-btn-active-bg: #c0754f;--bs-btn-active-border-color: #fb7659;--bs-btn-disabled-bg: rgb(145, 116, 109);--bs-btn-disabled-border-color: rgb(123, 79, 66);" id="btn_img_preview">Photo Preview</button>
    <div><br></div>
    <div class="image-container" id="image-container">
        <img id="imagePreview">
        <div class="overlay" id="overlay">
            <!-- Click areas will be dynamically added here -->
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" style="margin-right: 30px; margin-top: 30px; border-radius: 59px; color: rgb(68, 42, 42); --bs-btn-bg: #eec0a670; --bs-btn-border-color: antiquewhite;--bs-btn-hover-bg: rgb(145, 116, 109);--bs-btn-hover-border-color: rgb(155, 123, 123);--bs-btn-active-bg: #c0754f;--bs-btn-active-border-color: #fb7659;--bs-btn-disabled-bg: rgb(145, 116, 109);--bs-btn-disabled-border-color: rgb(123, 79, 66);" id="btn_login">Login</button>
    {% comment %} <input type="submit" value="Submit" /> {% endcomment %}
</form>
<div class="loader">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('.loader').hide();
        $.ajaxSetup({
          headers: { "X-CSRFToken": "{{ csrf_token }}" }
        });

        //var clickedCoordinates = [];
        
        // Define the size of the zones (in pixels)
        var zoneSize = 40;
        var clickedZones = [];
         
        $('input:radio[name="number_of_click"]').on( "change click",function(){
            $('.overlay .click-area').remove();
            clickedZones = [];
        });
        // Function to handle click events
        function handleClick(event) {
            var img = document.getElementById('imagePreview')
            var click_limit = $('input[name="number_of_click"]:checked').val();
            if (img.src == '') {
                return;
            }
            var offset = $(this).offset();
            var x = event.pageX - offset.left;
            var y = event.pageY - offset.top;
            
            // Calculate the zone based on the clicked coordinates
            var zoneX = Math.floor(x / zoneSize);
            var zoneY = Math.floor(y / zoneSize);


            // Check if this zone was already clicked
            for (var i = 0; i < clickedZones.length; i++) {
                if (clickedZones[i][0] === zoneX && clickedZones[i][1] === zoneY) {
                    // This zone was already clicked, so remove it
                    clickedZones.splice(i, 1);

                    // Remove the visual indicator for this zone
                    $('.overlay .click-area').eq(i).remove();

                    // Exit the function
                    return;
                }
            }
            if(clickedZones.length == click_limit){
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'Number of clicks out of limit.',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'ปิด'
                  })
                return;
            }

            // Store the clicked zone
            clickedZones.push([zoneX, zoneY]);

            
            console.log(clickedZones)
                
            // Store the clicked coordinates
            //clickedCoordinates.push({ x: x, y: y });

            // Add a visual indicator for the clicked area
            //var clickArea = $('<div class="click-area"></div>').css({
            //    top: y - 10,
            //    left: x - 10,
            //    width: 20, // Adjust as needed
            //    height: 20, // Adjust as needed
            //});
            var clickArea = $('<div class="click-area"></div>').css({
                top: zoneY * zoneSize,
                left: zoneX * zoneSize,
                width: zoneSize, // Adjust as needed
                height: zoneSize, // Adjust as needed
            });
            $('#overlay').append(clickArea);
            
        }

        // Attach click event handler to the image container
        $('#image-container').on('click', handleClick);

        $("#btn_login" ).click(function(event) {
            if (!document.querySelector('form').checkValidity()) {
              event.preventDefault();
              Swal.fire({
                icon: 'warning',
                title: 'ข้อมูลไม่ถูกต้อง',
                text: 'กรุณาระบุข้อมูลให้ครบถ้วนและลงทะเบียนอีกครั้ง',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonColor: '#d33',
                cancelButtonText: 'ปิด'
              })
              return;
            }
            if (clickedZones.length == 0){
                Swal.fire({
                    icon: 'warning',
                    title: 'Invalid Data',
                    text: 'Please select the location of the coordinates in the picture according to the number.',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Close'
                  })
                  return;
            }
            confirmLogin();

        });

        function bytesToMB(bytes) {
            var megabytes = bytes / (1024 * 1024);
            return megabytes.toFixed(2);
        }
        function AlertImgSizeError(){
            Swal.fire({
              icon: 'warning',
              title: 'ข้อมูลไม่ถูกต้อง',
              text: 'ไฟล์รูปที่อัปโหลดต้องมีขนาดไม่เกิน 1 MB',
              showCancelButton: true,
              showConfirmButton: false,
              cancelButtonColor: '#d33',
              cancelButtonText: 'ปิด'
            });
          }

         
        function confirmLogin(){
            var formData = new FormData($("#login-form")[0]);
            formData.append('coordinates', JSON.stringify(clickedZones))
            $('.loader').show();
            $.ajax({
            url: '{% url "secret_photo:authenticate" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response)
                $('.loader').hide();
                //var host = response.gdcc_host
                //var orderId = response.order_id
                window.location.href = '{% url "secret_photo:homepage" %}'
            },
            error: function(xhr, status, error) {
                var json = JSON.parse(xhr.responseText);
                $('.loader').hide();
                 if (xhr.status == 401) {
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดข้อผิดพลาด',
                        text: json.message,
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'ปิด'
                    })
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'เกิดข้อผิดพลาด',
                        text: json.message,
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'ปิด'
                    })
                }
                }
            }); 
        }

        $("#btn_img_preview" ).click(function(event) {
            getImagePreview();
        });

        function getImagePreview(){
            var email = document.getElementById('id_email').value
            $('.loader').show();
            $.ajax({
            url: '{% url "secret_photo:img_preview" %}',
            type: 'GET',
            dataType: 'json',
            data: {email: email},
            success: function (response) {
                console.log(response)
                var imageUrl = 'data:image/png;base64,' + response.img64;
                $('#imagePreview').attr('src', imageUrl);
                var textLabel = "Number of Click: "+response.number_of_click
                $('#number_of_click').text(textLabel);
                $('.loader').hide();
            },
            error: function(xhr, status, error) {
                var json = JSON.parse(xhr.responseText);
                $('.loader').hide();
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดข้อผิดพลาด',
                    text: 'เกิดข้อผิดพลาด กรุณาติดต่อเจ้าหน้าที่',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'ปิด'
                })
                }
            }); 
        }

        
    });
</script>
{% endblock %}