{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Picture and Description</title>
</head>
<body>
    <h1>Upload Picture and Description</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- File input -->
        <input type="file" id="picture-input" name="picture" accept="image/*" onchange="previewImage(event)" />

        <br>
        <!-- Image preview -->
        <div id="image-preview-container" style="display: none;">
            <img id="image-preview" src="#" alt="Preview" style="max-height: 200px;">
        </div>
        <br>
        {{ form.description }}
        <br>
        {{ form.errors }}
        <button type="submit">Submit</button>
    </form>

    <script>
        function previewImage(event) {
            const imagePreview = document.getElementById('image-preview');
            const imageContainer = document.getElementById('image-preview-container');

            if (event.target.files && event.target.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                };

                reader.readAsDataURL(event.target.files[0]);
                imageContainer.style.display = 'block';
            } else {
                imagePreview.src = '#';
                imageContainer.style.display = 'none';
            }
        }
    </script>
</body>
</html>


{% endblock %}