{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
    <h1>Upload Picture and Description</h1>
    <form id="picture-description-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" id="picture-input" name="photo" accept="image/*" onchange="previewImage(event)">
        <br>
        <img id="picture-preview" src="#" alt="Preview" style="max-width: 200px; display: none;">
        <br>


        {{ form.description }}
        
        <br>
        {{ form.errors }}
        <button type="submit">Submit</button>
        <button type="button" onclick="cancelForm()">Cancel</button>
    </form>

    <script>
        function previewImage(event) {
            const pictureInput = event.target;
            const picturePreview = document.getElementById('picture-preview');
            
            if (pictureInput.files && pictureInput.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    picturePreview.src = e.target.result;
                    picturePreview.style.display = 'block';
                };
                reader.readAsDataURL(pictureInput.files[0]);
            } else {
                picturePreview.src = '#';
                picturePreview.style.display = 'none';
            }
        }

        function cancelForm() {
            // Get the form element
            const formElement = document.querySelector('form');
    
            // Reset the form to its default state
            formElement.reset();
    
            // Clear the image preview
            const imagePreview = document.getElementById('image-preview');
            const imageContainer = document.getElementById('image-preview-container');
            imagePreview.src = '#';
            imageContainer.style.display = 'none';
        }
    </script>

{% endblock %}