{% extends 'base.html' %}
{% block content %}
<form method="POST" id="register-form">
  <div class="container-center">
  <div class="container-cloud">
    <div class="sky">
      <div class="sun"></div>
      <div id="cloud-1" class="cloud-container">
        <div class="cloud cloud-left"></div>
        <div class="cloud cloud-right"></div>
      </div>
      <div id="cloud-2" class="cloud-container">
        <div class="cloud cloud-left"></div>
        <div class="cloud cloud-right"></div>
      </div>
    </div> 
  </div>
  </div>
  <div class="signup-container">
    <div class="signup">Sign up</div>
  </div>

    {% csrf_token %}
    <div><label>{{form.email.label}}<span class="required-star">*</span></label></div>
    <div>{{ form.email }}</div>
    <div><label>{{form.number_of_click.label}}<span class="required-star">*</span></label></div>
    <div>{{ form.number_of_click }}</div>
    <div><label>Upload Photo <span class="required-star">*</span></label></div>
    <div><input class= "form-control" type="file" id="img_photo" name="img_photo" accept="image/*" required></div>
    <span id="img_photo_size"></span>
    <div><br></div>
    <div class="image-container" id="image-container">
        <img id="imagePreview" />
        <div class="overlay" id="overlay">
            <!-- Click areas will be dynamically added here -->
        </div>
    </div>
    <div class="popup" id="popup-1">
      <div class="overlaypopup"></div>
      <div class="content">
        <div class="close-btn" onclick="closeTogglePopup()">&times;</div>
        <h1>Instruction</h1>
        <p>1. Enter your email address correctly.</p>
        <p>2. Choose the number of coordinates you want to click to log in.</p>
        <p>3. Select the picture you want to set as a password.</p>
        <p>4. Click to locate the coordinates of your photo. and click until the number of coordinates you have selected</p>
        <p>5. Verify the accuracy of all information before registering.</p>
          
        <p class="note-text">Note : The picture size must be less than 1 MB</p>
      </div>
    </div>
    <button class="button-howtodo" id="howtodo" onclick="togglePopup()">Instructionst</button>

    <button type="button" class="btn btn-primary btn-lg" style="margin-right: 30px; margin-top: 30px; border-radius: 59px; color: rgb(68, 42, 42); --bs-btn-bg: #eec0a670; --bs-btn-border-color: antiquewhite;--bs-btn-hover-bg: rgb(145, 116, 109);--bs-btn-hover-border-color: rgb(155, 123, 123);--bs-btn-active-bg: #c0754f;--bs-btn-active-border-color: #fb7659;--bs-btn-disabled-bg: rgb(145, 116, 109);--bs-btn-disabled-border-color: rgb(123, 79, 66);" id="btn_register">Register</button>
    {% comment %} <input type="submit" value="Submit" /> {% endcomment %}
</form>
<div class="loader">

</div>

{% comment %} <td style="text-align:center;"><img src="data:image/jpeg;base64,{{ img_front }}" alt="Image" style="max-width:600px;width:100%;max-height:900px;height:100%;"></td> {% endcomment %}
<script>
  function togglePopup(){
    document.getElementById("popup-1").classList.toggle("active");
  }
  function closeTogglePopup(){
    document.getElementById("popup-1").classList.remove("active");
  }
</script>
<script>
    $(document).ready(function() {
        $('.loader').hide();
        $.ajaxSetup({
          headers: { "X-CSRFToken": "{{ csrf_token }}" }
        });

        //var clickedCoordinates = [];
        
        // Define the size of the zones (in pixels)
        var zoneSize = 50;
        var clickedZones = [];
         
        $('input:radio[name="number_of_click"]').on( "change click",function(){
            $('.overlay .click-area').remove();
            clickedZones = [];
        });
        // Function to handle click events
        function handleClick(event) {
            var img = document.getElementById('imagePreview')
            var click_limit = $('input[name="number_of_click"]:checked').val();
            if (img.src == '') {
                return;
            }

            if (click_limit == undefined){
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'Please select number of click.',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Close'
                  })
                return;
            }
            var offset = $(this).offset();
            var x = event.pageX - offset.left;
            var y = event.pageY - offset.top;
            
            // Calculate the zone based on the clicked coordinates
            var zoneX = Math.floor(x / zoneSize);
            var zoneY = Math.floor(y / zoneSize);


            // Check if this zone was already clicked
            for (var i = 0; i < clickedZones.length; i++) {
                if (clickedZones[i][0] === zoneX && clickedZones[i][1] === zoneY) {
                    // This zone was already clicked, so remove it
                    clickedZones.splice(i, 1);

                    // Remove the visual indicator for this zone
                    $('.overlay .click-area').eq(i).remove();

                    // Exit the function
                    return;
                }
            }
            if(clickedZones.length == click_limit){
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'Number of clicks out of limit.',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Close'
                  })
                return;
            }

            // Store the clicked zone
            clickedZones.push([zoneX, zoneY]);

            
            console.log(clickedZones)
                
            // Store the clicked coordinates
            //clickedCoordinates.push({ x: x, y: y });

            // Add a visual indicator for the clicked area
            //var clickArea = $('<div class="click-area"></div>').css({
            //    top: y - 10,
            //    left: x - 10,
            //    width: 20, // Adjust as needed
            //    height: 20, // Adjust as needed
            //});
            var clickArea = $('<div class="click-area"></div>').css({
                top: zoneY * zoneSize,
                left: zoneX * zoneSize,
                width: zoneSize, // Adjust as needed
                height: zoneSize, // Adjust as needed
            });
            $('#overlay').append(clickArea);
            
        }

        // Attach click event handler to the image container
        $('#image-container').on('click', handleClick);

        $("#btn_register" ).click(function(event) {
            if (!document.querySelector('form').checkValidity()) {
              event.preventDefault();
              Swal.fire({
                icon: 'warning',
                title: 'Invalid Data',
                text: 'Please enter the full detail and register again.',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonColor: '#d33',
                cancelButtonText: 'Close'
              })
              return;
            }
            var click_limit = $('input[name="number_of_click"]:checked').val();
            if (clickedZones.length == 0 || clickedZones.length != click_limit){
                Swal.fire({
                    icon: 'warning',
                    title: 'Invalid Data',
                    text: 'Please select the location of the coordinates in the picture according to the number.',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Close'
                  })
                  return;
            }
            Swal.fire({
                icon: 'question',
                title: 'Confirm Registration',
                text: 'Do you confirm to register?',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'Close',
                confirmButtonText: 'Confirm',
            }).then((result) => {
                    if (result.isConfirmed) {
                        confirmOrder();
                    }
                }) 

        });

        function bytesToMB(bytes) {
            var megabytes = bytes / (1024 * 1024);
            return megabytes.toFixed(2);
        }
        function AlertImgSizeError(){
            Swal.fire({
              icon: 'warning',
              title: 'The image file size is incorrect.',
              text: 'Uploaded image files must not exceed 1 MB in size.',
              showCancelButton: true,
              showConfirmButton: false,
              cancelButtonColor: '#d33',
              cancelButtonText: 'Close'
            });
          }

        $("#img_photo").on("change", function() {
            var img_type = ['jpeg', 'jpg', 'png', 'bmp'];
            var fileSize_MB = 0;
            var file = this.files[0];
              if ($.inArray($(this).val().split('.').pop().toLowerCase(), img_type) == -1) {
                Swal.fire({
                  icon: 'warning',
                  title: 'Invalid File',
                  text: 'Size does not exceed 1 MB file attachments can be attached .jpg only.',
                  showCancelButton: true,
                  showConfirmButton: false,
                  cancelButtonColor: '#d33',
                  cancelButtonText: 'Close'
                });
                $("#img_photo").val('');
                $("#img_photo_size").text('');
              }else{
                var reader = new FileReader();
                reader.onload = function(e) {
                  var img = new Image();
                  img.onload = function() {
                    var fileSize = file.size; 
                    fileSize_MB = parseFloat(bytesToMB(fileSize));
                    $("#img_photo_size").text("file size (" + fileSize_MB + " MB)");
                    if(fileSize_MB > 1){
                      AlertImgSizeError();
                      $("#img_photo").val('');
                      $("#img_photo_size").text('');
                    }else{
                        const output = document.getElementById('imagePreview');
                        output.src = e.target.result;
                    }
                  };
                  img.src = e.target.result;
                };
                reader.readAsDataURL(file);
              }   
          })
         
        function confirmOrder(){
            var formData = new FormData($("#register-form")[0]);
            formData.append('coordinates', JSON.stringify(clickedZones))
            $('.loader').show();
            $.ajax({
            url: '{% url "secret_photo:register_create" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response)
                $('.loader').hide();
                Swal.fire({
                  title: 'Success',
                  text: 'Registered successfully',
                  icon: 'success',
                  confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '{% url "secret_photo:login" %}'
                    }
                })
            },
            error: function(xhr, status, error) {
                var json = JSON.parse(xhr.responseText);
                $('.loader').hide();
                if (json.status_code == 'duplicate') {
                  Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: json.message,
                      showCancelButton: true,
                      showConfirmButton: false,
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Close'
                  })
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Please contact staff',
                        showCancelButton: true,
                        showConfirmButton: false,
                        cancelButtonColor: '#d33',
                        cancelButtonText: 'Close'
                    })
                  }
                }
            }); 
        }
    });
</script>
{% endblock %}