{% extends 'base.html' %}
{% block content %}

<form method="POST" id="register-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="image-container" id="image-container">
        <img id="imagePreview" />
        <div class="overlay" id="overlay">
            <!-- Click areas will be dynamically added here -->
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" style="margin-right: 30px; margin-top: 30px;" id="btn_register">Register</button>
    {% comment %} <input type="submit" value="Submit" /> {% endcomment %}
</form>
<div class="loader">

</div>
<script>
    const inputFile = document.querySelector('#id_image');  // id_image is the id Django assigns to the image input field
    if( inputFile != undefined){
        inputFile.addEventListener('change', function() {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById('imagePreview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        });
    }
</script>

{% comment %} <td style="text-align:center;"><img src="data:image/jpeg;base64,{{ img_front }}" alt="Image" style="max-width:600px;width:100%;max-height:900px;height:100%;"></td> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('.loader').hide();
        $.ajaxSetup({
          headers: { "X-CSRFToken": "{{ csrf_token }}" }
        });

        var clickedCoordinates = [];
        
        // Define the size of the zones (in pixels)
        var zoneSize = 40;
        var clickedZones = [];
        // Function to handle click events
        function handleClick(event) {
            var offset = $(this).offset();
            var x = event.pageX - offset.left;
            var y = event.pageY - offset.top;
            
            // Calculate the zone based on the clicked coordinates
            var zoneX = Math.floor(x / zoneSize);
            console.log(x)
            var zoneY = Math.floor(y / zoneSize);
            console.log(y)

            // Check if this zone was already clicked
            for (var i = 0; i < clickedZones.length; i++) {
                if (clickedZones[i][0] === zoneX && clickedZones[i][1] === zoneY) {
                    // This zone was already clicked, so remove it
                    clickedZones.splice(i, 1);

                    // Remove the visual indicator for this zone
                    $('.overlay .click-area').eq(i).remove();

                    // Exit the function
                    return;
                }
            }

            // Store the clicked zone
            clickedZones.push([zoneX, zoneY]);

            console.log(clickedZones)
                
            // Store the clicked coordinates
            clickedCoordinates.push({ x: x, y: y });

            // Add a visual indicator for the clicked area
            //var clickArea = $('<div class="click-area"></div>').css({
            //    top: y - 10,
            //    left: x - 10,
            //    width: 20, // Adjust as needed
            //    height: 20, // Adjust as needed
            //});
            var clickArea = $('<div class="click-area"></div>').css({
                top: zoneY * zoneSize,
                left: zoneX * zoneSize,
                width: zoneSize, // Adjust as needed
                height: zoneSize, // Adjust as needed
            });
            $('#overlay').append(clickArea);
            
        }

        // Attach click event handler to the image container
        $('#image-container').on('click', handleClick);

        $("#btn_register" ).click(function(event) {
            if (!document.querySelector('form').checkValidity()) {
              event.preventDefault();
              Swal.fire({
                icon: 'warning',
                title: 'ข้อมูลไม่ถูกต้อง',
                text: 'กรุณาระบุข้อมูลให้ครบถ้วนและลงทะเบียนอีกครั้ง',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonColor: '#d33',
                cancelButtonText: 'ปิด'
              })
              return;
            }

            Swal.fire({
                icon: 'question',
                title: 'ยืนยันการลงทะเบียน',
                text: 'ท่านยืนยันที่จะลงทะเบียนหรือไม่',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'ปิด',
                confirmButtonText: 'ยืนยัน',
            }).then((result) => {
                    if (result.isConfirmed) {
                        confirmOrder();
                    }
                }) 

        });
        
        function confirmOrder(){
            var formData = new FormData($("#register-form")[0]);
            formData.append('coordinates', JSON.stringify(clickedCoordinates))
            $('.loader').show();
            $.ajax({
            url: '{% url "secret_photo:register" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response)
                $('.loader').hide();
                //var host = response.gdcc_host
                //var orderId = response.order_id
                //window.location.href = host+'/suite_reserve/'+orderId+'/detail';
            },
            error: function(xhr, status, error) {
                var json = JSON.parse(xhr.responseText);
                $('.loader').hide();
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดข้อผิดพลาด',
                    text: 'เกิดข้อผิดพลาด กรุณาติดต่อเจ้าหน้าที่',
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'ปิด'
                })
                }
            }); 
        }
    });
</script>
{% endblock %}