@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

.image-container {
  position: relative;
  /* margin: 0 auto; */
  /* width: auto; */
  height: 600px;
  text-align: center;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.home-image-container {
  position: relative;
  height: 400px;
  text-align: center;
}

.home-image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay .click-area {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.3); 
  cursor: pointer;
}

/* .overlay .highlight-area {
  position: absolute;
  border: 2px solid red; 
  background-color: rgba(255, 0, 0, 0.3); 
  cursor: pointer;
} */

.carousel-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-container img.active {
  opacity: 1;
}
/*for Why is Cloaked Moments better than other photo capture applications on mobile?*/
.headline-container {
  text-align: center;
  font-family: 'Sniglet', cursive;
  margin-top: 100px;
}

.headline {
  font-size: 30px;
  font-weight: bold;
  color: #8e6565;
  transition: color 0.3s;
}

.headline:hover {
  color: rgb(85, 68, 64);
  cursor: pointer;
}

/*--------Cookie---------*/
.cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(208, 181, 174, 0.8);
  font-family: 'Sniglet', cursive;
  text-align: center;
}

.cookie-popup form {
  display: inline;
}

.cookie-popup p {
  margin: 30;
}


.cookie-popup button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #91705f;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cookie-popup button:hover {
  background-color: #705851;
}
/*--------Cookie---------*/

/*--------Footer---------*/
footer {
  background-color: #c3afa3;
  padding: 20px 0;
  text-align: right;
  font-size: 25px;
  
}
.icon-link {
  color: #555;
  margin-left: 10px;
  text-decoration: none;
  font-size: 24px;
}

.icon-link:hover {
  color: #007bff;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/static/assets/img/ellipsis.gif') 50% 50% no-repeat;
}
/*--------Footer---------*/
/*---for button photo preview---*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#btn_img_preview {
  animation: pulse 2s ease-in-out infinite;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: 'Sniglet', cursive;
}

.button {
  animation: pulse 2s ease-in-out infinite;
  background-color: #eec0a6;
  border: none;
  border-radius: 59px;
  color: rgb(68, 42, 42);
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: rgb(145, 116, 109);
  color: #ffffff;
}

.button.active {
  background-color: #8faea4;
  color: #ffffff;
  font-size: 18px;
}
.button.active:hover {
  background-color: #5a7c71;
  color: #ffffff;
}
/*---for button photo preview---*/

/*---------Register Page----------*/

.signup-container {
  text-align: center;
  font-family: 'Sniglet', cursive;
  margin-top: 50px;
  margin-bottom: 30px;
}

.signup {
  font-size: 30px;
  font-weight: bold;
  color: #675454; 
  transition: color 0.3s;
}

.signup:hover {
  color: rgb(252, 120, 90);
  cursor: pointer;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
* {
  margin: 0;
  padding: 0;
  /*color scheme*/
  --sky-color: #bea499;
  --cloud-front-color: #ffffff;
  --cloud-back-color: rgb(255, 255, 255);
  --sun-color: rgb(255, 196, 106);
}

.container-cloud {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.sky {
  width: 110px;
  height: 110px;
  background-color: var(--sky-color);
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.sun {
  width: 50px;
  height: 50px;
  background-color: var(--sun-color);
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 2s arise infinite alternate;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: 1;
}

#cloud-1 {
  z-index: 2;
}

#cloud-2 {
  transform: scaleX(-1) translate(-10px, 80px);
  z-index: 0;
}

#cloud-2 .cloud {
  background-color: var(--cloud-back-color);
}

.cloud-container {
  position: relative;
  transform: translate(-10px, 85px);
}

.cloud {
  background-color: var(--cloud-front-color);
  border-radius: 100%;
  position: absolute;
  bottom: 0;
}

.cloud-left {
  width: 50px;
  height: 50px;
}

.cloud-right {
  width: 40px;
  height: 40px;
  left: 30px;
}


form {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  backdrop-filter: blur(30px) brightness(100%);
  background-color: #ffffff99;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(149, 110, 110, 0.1);
  backdrop-filter: blur(5px);
}

input#id_email:focus {
  background-color: #fadfd6;
  border: 5px solid rgb(207, 177, 163);
  box-shadow: 0 0 5px #573d37;
}
input#id_number_of_click:focus {
  background-color: #fadfd6;
  border: 5px solid rgb(207, 177, 163);
  box-shadow: 0 0 5px #573d37;
}

input[type="email"],
input[type="radio"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff5f1;
  border: 2px solid rgb(149, 118, 110);
  border-radius: 20px;
}


input[type="radio"] {
  margin-right: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #59514c;
  border-radius: 30%;
  cursor: pointer;
  outline: none;
  vertical-align: top;
}

input[type="radio"]:checked {
  background-color: #c7a08a;
  border-color: #797067;
}

input::placeholder {
  font-family: 'Sniglet', cursive;
  font-size: 14px;
  color: rgb(204, 167, 167);
}

input:hover::placeholder {
  color: #ff4400;
}

label {
  font-weight: bolder;
  margin-right: 15px;
  cursor: pointer;
  font-family: 'Sniglet', cursive;
  color: #6c5349; 
  font-size: 15px;
  vertical-align: middle;
  padding: 5px 5px;
  
}

input[type="radio"]:hover {
  border-color: #ffba7e; 
}

input[type="email"]:hover {
  background-color: #ffdf9f;
  border-color: #ffba7e;
}

label:hover {
  color: rgb(248, 137, 97);
}
/*----Popup----*/
.popup .overlaypopup {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(255, 255, 255, 0.409);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#ffe9db;
  width:500px;
  height:350px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Sniglet', cursive;
  text-align: left;
  margin-bottom: 10px;
}

.popup .content:hover {
  background: #f99b79;
  color:#ffffff;
}

.popup .content .note-text {
  color: red;
}
.popup .content .note-text:hover {
  color: rgb(0, 0, 0);
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlaypopup {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.button-howtodo {
  font-family: 'Sniglet', cursive;
  position:absolute;
  top:2%;
  right: -3%;
  transform:translate(-50%,-50%);
  padding:10px;
  border:2px solid #ffd5b1;
  color:#ea9050;
  font-size: 20px;
  background:#ffd5b1;
}
.button-howtodo:hover {
  background: #de8868;
  border-color: #de8868;
  color:#ffffff;
}
/*---------End Register Page----------*/

/*----------Sign in------*/
.email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.email-text {
  background-image: linear-gradient(to right, #bb4242,#864545,#794848, #614242);
  -webkit-background-clip: text;
  color: transparent;
  /* color: rgb(91, 71, 62); */
  font-family: 'Sniglet', cursive;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;

}
.email-text:hover {
  color: rgb(0, 0, 0);
}


.logout-button {
  padding: 8px 16px;
  width: 85px;
  font-family: 'Sniglet', cursive;
  font-size: 14px;
  align-items: center;
  border:1px solid #fbd5b3;
  background-color: #c6a18f; /* Red color for the button background */
  color: #ffffff; /* White text color */
  border-radius: 30px;
  cursor: pointer;
  display: block;
}

/* Style the button on hover */
.logout-button:hover {
  color: #000000;
  border:1px solid #a7907d;
  background-color: rgb(233, 69, 50); /* Darker shade of red on hover */
}
.btn-primary {
  margin-left: 10px; /* Add some spacing between buttons */
}
/* .email-text {
  margin-right: 600px;
  margin-bottom: 50px;
} */
/*-----img best,tonhom,kim in homepage---*/
.img-center img {
  max-width: 250px;
  display: inline-block;
  margin: 5px;
  margin-top: 50%;
  margin-bottom: 10%;
}
.myimg {
  transition: transform 0.3s ease;
}
.myimg:hover {
  transform: scale(1.1);
}
.myname {
  font-family: 'Sniglet', cursive;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, #876c5b,#6f4747,#3c2626, #403232);
  -webkit-background-clip: text;
  color: transparent;
}
.myid{
  font-family: 'Sniglet', cursive;
  font-size: 15px;
  text-align: center;
  margin-bottom: 40%;
  color: #9d613c;
  transition: transform 0.3s ease;
}

.myname:hover {
  transform: scale(1.1);
}
/*-----unlock_password-img-------*/
.unlock_password-img{
  transition: transform 0.3s ease;
}
.unlock_password-img:hover{
  transform: scale(1.1);
}
/*-----Camera-------*/
.flat-anim
{
	display: block;
	width: 264px;
	height: 265px;
	background-color: #ecf0f1;
	border-radius: 42px;
	position: absolute;
	top: 45%;
	left: 17%;
	margin:-132px 0 0 -132px;
}
.flat-anim:before
{
	content: "";
	background-color: #be8d62;
	width: 26px;
	height: 26px;
	border-radius: 26px;
	position: absolute;
	top: 19px;
	left: 19px;
}
.flat-anim:after
{
	content: "";
	background-color: #68b5f1;
	width: 48px;
	height: 24px;
	border-radius: 10px;
	position: absolute;
	top: 17px;
	right: 22px;
}
.bottomcamera
{
	width: 264px;
	height: 112px;
	display: block;
	z-index: 10;
	background-color: #bb9a7d;
	border-radius: 0 0 38px 38px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top:15px solid #867568;
	-webkit-box-shadow: inset 0 -20px 0 0 #71665d;
}
.bottomcamera:before
{
	content: "";
	background-color: #282e3a;
	width: 140px;
	height: 30px;
	display: block;
	margin:14px auto 0 auto;
}
.bottomcamera:after{
	content: "";
	position: absolute;
	top: 30px;
	left: 84px;
	width: 96px;
	height: 70px;
	display: block;
	background-color: #ecf0f1;
	/*border-top:16px solid #c3d1dd;*/
	/*border-bottom:14px solid #db640e;*/
  -webkit-box-shadow:0 14px 0 0 #9b8373,
    0 -16px 0 0 #c3d1dd;
  -moz-box-shadow:0 14px 0 0 #6f6157,
    0 -16px 0 0 #c3d1dd;
	box-shadow:0 14px 0 0 #ae9f94,
    0 -16px 0 0 #c3d1dd;
}
.eyecamera
{
	width: 37px;
	height: 37px;
	border-radius: 37px;
	background-color: #243e6e;
	display: block;
	margin:60px auto 0;
	z-index: 20;
	position: relative;
	-webkit-box-shadow:	0	0		0	22px	#3e5489,
						0 	0 		0 	30px 	#1c3666,
						0 	0 		0 	45px 	#ecf0f1,
						0 	10px 	0 	45px 	rgba(0,0,0,0.2);
}
.eyecamera:before
{
	content: "";
	background-color: #a3bfd5;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: absolute;
	top: -16px;
	left: -16px;
}
.eyecamera:after
{
	content: "";
	background-color: #6078a3;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	position: absolute;
	top: 30px;
	left: 30px;
}
/* Animation */

.flat-anim {
  -webkit-animation: flatAnimation 5s infinite;
}

@-webkit-keyframes flatAnimation {
  0% {
	  -webkit-transform: rotate(50deg) scale(0.5); 
  }
  13% {
	  -webkit-transform: rotate(-22deg) scale(1.2); 
  }
  20% {
	  -webkit-transform: rotate(0) scale(1); 
  }
  95% {
	  -webkit-transform: rotate(0) scale(1); 
  }
  100% {
	  -webkit-transform: rotate(50deg) scale(0.5); 
  }
}
.eye,
.flat-anim:before,
.flat-anim:after {
  -webkit-animation: eyeAnimation 5s infinite;
}
.flat-anim:before{
    -webkit-animation-delay: 50ms;
    -moz-animation-delay: 50ms;
    -o-animation-delay: 50ms;
    animation-delay: 50ms;
}
.flat-anim:after{
    -webkit-animation-delay: 150ms;
    -moz-animation-delay: 150ms;
    -o-animation-delay: 150ms;
    animation-delay: 150ms;
}

@-webkit-keyframes eyeAnimation {
  0% {
	  opacity: 0;
	  -webkit-transform: scale(0.1); 
  }
  12% {
	  opacity: 0;
	  -webkit-transform: scale(0.1);
  }
  13% {
	  opacity: 1;
	  -webkit-transform: scale(0.1);
  }
  20% {
	  opacity: 1;
	  -webkit-transform: scale(1.4); 
  }
  25% {
	  -webkit-transform: scale(1); 
  }
  95% {
	  -webkit-transform: scale(1); 
	  opacity: 1;
  }
  100% {
	  opacity: 0;
	  -webkit-transform: scale(0.1); 
  }
}

.bottom:before
{
  -webkit-animation: bottomAnimation 5s infinite;
}

@-webkit-keyframes bottomAnimation {
  0% {
	  opacity: 0;
      width: 0;
  }
  20% {
	  opacity: 0;
      width: 0;
  }
  21% {
	  opacity: 0;
      width: 0;
  }
  22% {
	  opacity: 1;
      width: 8px;
  }
  25% {
	  opacity: 1;
  	  width: 165px;
  }
  26% {
	  opacity: 1;
  	  width: 140px;
  }
  95% {
  	  width: 140px;
	  opacity: 1;
  }
  96% {
	  opacity: 0;
      width: 0;
  }
  100% {
	  opacity: 0;
      width: 0;
  }
}
.bottom:after
{
  -webkit-animation: bottomAfterAnimation 5s infinite;
}

@-webkit-keyframes bottomAfterAnimation {
  0% {
	  opacity: 0;
      height: 0;
      border: 0;
  }
  25% {
	  opacity: 0;
      height: 0;
      border: 0;
  }
  26% {
	  opacity: 1;
      border: 0;
      height: 0;
  }
  26% {
	  opacity: 1;
      border: 0;
      height: 0;
      border-top-width: 2px;
  }
  28% {
	  opacity: 1;
      border: 0;
      height: 0;
      border-top-width: 16px;
  }
  28% {
	  opacity: 1;
      height: 40px;
      border-top-width: 16px;
      border-bottom-width: 14px;
  }
  95% {
	  opacity: 1;
      height: 40px;
      border-top-width: 16px;
      border-bottom-width: 14px;
  }
  100% {
	  opacity: 0;
	  height: 0;
    border: 0;
  }
}
/*---------End Camera----------*/

/* .main-content-container {
  margin: 0 auto;
  padding: 20px 0;
  position: relative; 
  width: 980px;
/* }


/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Sniglet', cursive;
  line-height: 1.6;
  
}

/* Header Styles */
header {
  background-color: #ffe3cf;;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 980px;
}

/* Navigation Styles */
nav {
  background-color: #c3afa3;
  padding: 20px;
  margin: 0 auto;
  max-width: 980px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Main Content Styles */
.main-content {
  margin: 0 auto;
  padding: 20px;
  position: relative; 
  max-width: 980px;
  background-color: #ffe3cf;
  border-left: 2px solid #c3afa3;;
  border-right: 2px solid #c3afa3;;
}

.main-content-2 {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 980px;
  background-color: #ffe3cf;
  border-left: 2px solid #c3afa3;;
  border-right: 2px solid #c3afa3;;
}

footer {
  background-color: #c3afa3;
  color: #6d5f59;
  text-align: center;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-weight: bold;
}


.h-1 {
  color: #9d7f6d;
  font-family: 'Papyrus', sans-serif;
  font-weight: bold;
}

.logo-img {
  max-width: 80%;
  height: auto;
}

.logo-label {
  font-size: 45px;
}

.btn-sign-in {
  border-radius: 59px;
  color: blanchedalmond;
  --bs-btn-bg: #eec0a670;
  --bs-btn-border-color: antiquewhite;
  --bs-btn-hover-bg: brown;
  --bs-btn-hover-border-color: brown;
  --bs-btn-active-bg: brown;
  --bs-btn-active-border-color: brown;
  --bs-btn-disabled-bg: brown;
  --bs-btn-disabled-border-color: brown;
}

button.btn {
  font-family: 'Sniglet', cursive;  
}

.swal-modal {
  font-family: 'Sniglet', cursive;
}



/* Media Queries */
/* For tablets and larger devices */
@media screen and (min-width: 768px) {
  /* Example: Increase font size for better readability */
  body {
    font-size: 18px;
  }
}

/* For desktop devices */
@media screen and (min-width: 1024px) {
  /* Example: Add a sidebar */
  .main-content {
    float: none;
    width: 70%;
  }
  .main-content-2 {
    float: none;
    width: 70%;
  }
  .sidebar {
    float: right;
    width: 30%;
  }
  .logo-img {
    width: 80%;
  }
  .logo-label {
    font-size: 45px;
  }
  .carousel-container img {
    height: 100%;
  }
  .home-image-container img {
    height: 100%;
  }
}

/* For mobile devices */
@media screen and (max-width: 767px) {
  /* Example: Hide the sidebar and adjust font size */
  .main-content,
  .main-content-2,
  .sidebar {
    float: none;
    width: 100%;
  }
  body {
    font-size: 16px;
  }
  .logo-img {
    width: 20%;
  }

  .logo-label {
    font-size: 24px;
  }
  .carousel-container img {
    height: 40%;
  }
  .home-image-container img {
    height: 40%;
  }
  .email-container {
    height: 50%;
  }
  .button-howtodo{
    width: 20%;
    font-size:10px;
    right: -5%;
  }
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes arise{
  from{ transform: translate(-50%,-50%);}
  to{ transform: translate(-50%, 110%);}
}