/* .main-content-container {
  margin: 0 auto;
  padding: 20px 0;
  position: relative; 
  width: 980px;
/* }


/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: #ffe3cf;;
  color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 980px;
}

/* Navigation Styles */
nav {
  background-color: #c3afa3;
  padding: 20px;
  margin: 0 auto;
  max-width: 980px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Main Content Styles */
.main-content {
  margin: 0 auto;
  padding: 20px;
  position: relative; 
  max-width: 980px;
  background-color: #ffe3cf;
  border-left: 2px solid #c3afa3;;
  border-right: 2px solid #c3afa3;;
}

/* Footer Styles */
footer {
  background-color: #c3afa3;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.h-1 {
  color: #9d7f6d;
  font-family: "Luckiest Guy", Helvetica;
}

.logo-img {
  max-width: 80%;
  height: auto;
}

.logo-label {
  font-size: 45px;
}

.btn-sign-in {
  border-radius: 59px;
  color: blanchedalmond;
  --bs-btn-bg: #eec0a670;
  --bs-btn-border-color: antiquewhite;
  --bs-btn-hover-bg: brown;
  --bs-btn-hover-border-color: brown;
  --bs-btn-active-bg: brown;
  --bs-btn-active-border-color: brown;
  --bs-btn-disabled-bg: brown;
  --bs-btn-disabled-border-color: brown;
}

/* Media Queries */
/* For tablets and larger devices */
@media screen and (min-width: 768px) {
  /* Example: Increase font size for better readability */
  body {
    font-size: 18px;
  }
}

/* For desktop devices */
@media screen and (min-width: 1024px) {
  /* Example: Add a sidebar */
  .main-content {
    float: none;
    width: 70%;
  }
  .sidebar {
    float: right;
    width: 30%;
  }
  .logo-img {
    width: 80%;
  }
  .logo-label {
    font-size: 45px;
  }
}

/* For mobile devices */
@media screen and (max-width: 767px) {
  /* Example: Hide the sidebar and adjust font size */
  .main-content,
  .sidebar {
    float: none;
    width: 100%;
  }
  body {
    font-size: 16px;
  }
  .logo-img {
    width: 20%;
  }

  .logo-label {
    font-size: 24px;
  }
}
