<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Django Secret Photo App</title>
        {% load static %}
        <link href="{%static 'css/styles.css' %}" rel="stylesheet">
        <link href="{%static 'css/styles2.css' %}" rel="stylesheet">
        <link href="{%static 'bootstrap-5.3.0-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> {% endcomment %}

        <script src="{%static 'bootstrap-5.3.0-dist/js/bootstrap.js' %}"></script>
        <link href="{%static 'sweetalert/sweetalert2.min.css' %}" rel="stylesheet">
        <script src="{%static 'sweetalert/sweetalert2.all.min.js' %}"></script>
        {% comment %} <link href="{%static 'bootstrap-5.3.0-dist/js/bootstrap.js' %}" rel="stylesheet"> {% endcomment %}
    </head>

  <body>
    <header>
      <div class="row">
        <div class="col-md-2"><a class="navbar-brand active" href=""><img src="/static/assets/img/logo.png" class="logo-img"></a></div>
        <div class="col-md-2"><h1 class="h-1 logo-label">Cloaked Moments</h1></div>
      </div>
      <!-- Header content goes here -->
    </header>

    <nav>
        <!-- Navigation menu goes here -->
        {% comment %} <div><a class="navbar-brand active" href=""></a></div> {% endcomment %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button id="btn_sign_in" class="btn btn-primary me-md-2" type="button" style="border-radius: 59px; color: blanchedalmond; --bs-btn-bg: #eec0a670; --bs-btn-border-color: antiquewhite;--bs-btn-hover-bg: brown;--bs-btn-hover-border-color: brown;--bs-btn-active-bg: #831a1a;--bs-btn-active-border-color: #831a1a;--bs-btn-disabled-bg: brown;--bs-btn-disabled-border-color: brown;">Sign in</button>
          <button id="btn_sign_out" class="btn btn-primary" type="button" style="border-radius: 59px; color: blanchedalmond; --bs-btn-bg: #eec0a670; --bs-btn-border-color: antiquewhite;--bs-btn-hover-bg: brown;--bs-btn-hover-border-color: brown;--bs-btn-active-bg: #831a1a;--bs-btn-active-border-color: #831a1a;--bs-btn-disabled-bg: brown;--bs-btn-disabled-border-color: brown;">Sign up</button>
        </div>
    </nav>

    <div class="main-content">
      {% block content %}
      {% endblock content %}
    </div>
    {% include 'cookie_popup.html' %}
    <footer>
      <div class="container">
        <div class="about-us-social">
          <div class="social-icons">
              Follow Us :
            <a href="#" class="icon-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>